doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title colormode test
    link(rel="stylesheet",href="screen.css")
  body
    .title
    table
      tbody
        tr.tr--1
          td.td--1
          td.td--2
          td.td--3
          td.td--4
          td.td--5
        tr.tr--2
          td.td--1
          td.td--2
          td.td--3
          td.td--4
          td.td--5
        tr.tr--3
          td.td--1
          td.td--2
          td.td--3
          td.td--4
          td.td--5
        tr.tr--4
          td.td--1
          td.td--2
          td.td--3
          td.td--4
          td.td--5
        tr.tr--5
          td.td--1
          td.td--2
          td.td--3
          td.td--4
          td.td--5
