@charset "utf-8";

* {
  outline: 0;
  margin:0;
  border: 0;
  padding: 0;
  line-height: 1;
}

table {
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
}

bm--1 = 'overlay';
bm--2 = 'color';
bm--3 = 'normal';
bm--4 = 'softlight';
bm--5 = 'softlight';

tr--1 = rgba( #FFFFFF, 0.8 );
tr--2 = rgba( #000000, 0.6 );
tr--3 = rgba( #FFFFFF, 0.0 );
tr--4 = rgba( #FFFFFF, 1.0 );
tr--5 = rgba( #000000, 1.0 );

td--1 = rgba( #428BCA, 1.0 );
td--2 = rgba( #5CB85C, 1.0 );
td--3 = rgba( #5BC0DE, 1.0 );
td--4 = rgba( #F0AD4E, 1.0 );
td--5 = rgba( #D9534F, 1.0 );

.tr--1 {
  /& .td--1 { background-color: blendmode( td--1, tr--1, bm--1 ); }
  /& .td--2 { background-color: blendmode( td--2, tr--1, bm--1 ); }
  /& .td--3 { background-color: blendmode( td--3, tr--1, bm--1 ); }
  /& .td--4 { background-color: blendmode( td--4, tr--1, bm--1 ); }
  /& .td--5 { background-color: blendmode( td--5, tr--1, bm--1 ); }
}

.tr--2 {
  /& .td--1 { background-color: blendmode( td--1, tr--2, bm--2 ); }
  /& .td--2 { background-color: blendmode( td--2, tr--2, bm--2 ); }
  /& .td--3 { background-color: blendmode( td--3, tr--2, bm--2 ); }
  /& .td--4 { background-color: blendmode( td--4, tr--2, bm--2 ); }
  /& .td--5 { background-color: blendmode( td--5, tr--2, bm--2 ); }
}

.tr--3 {
  /& .td--1 { background-color: blendmode( td--1, tr--3, bm--3 ); }
  /& .td--2 { background-color: blendmode( td--2, tr--3, bm--3 ); }
  /& .td--3 { background-color: blendmode( td--3, tr--3, bm--3 ); }
  /& .td--4 { background-color: blendmode( td--4, tr--3, bm--3 ); }
  /& .td--5 { background-color: blendmode( td--5, tr--3, bm--3 ); }
}

.tr--4 {
  /& .td--1 { background-color: blendmode( td--1, tr--4, bm--4 ); }
  /& .td--2 { background-color: blendmode( td--2, tr--4, bm--4 ); }
  /& .td--3 { background-color: blendmode( td--3, tr--4, bm--4 ); }
  /& .td--4 { background-color: blendmode( td--4, tr--4, bm--4 ); }
  /& .td--5 { background-color: blendmode( td--5, tr--4, bm--4 ); }
}

.tr--5 {
  /& .td--1 { background-color: blendmode( td--1, tr--5, bm--5 ); }
  /& .td--2 { background-color: blendmode( td--2, tr--5, bm--5 ); }
  /& .td--3 { background-color: blendmode( td--3, tr--5, bm--5 ); }
  /& .td--4 { background-color: blendmode( td--4, tr--5, bm--5 ); }
  /& .td--5 { background-color: blendmode( td--5, tr--5, bm--5 ); }
}
